@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

div.searchResults {
	display:none ;
	visibility: hidden;
}
/* Dropdown buttons bar (filter-bar) container. Full functionality to be implemented with Javascript.*/
.filter-bar {
	background-position: bottom;
	position: relative;
	width: 100%;
	height: 80px;
	margin-bottom: 0.25vh;
	overflow: hidden;
}

/*Begin styling of the main results container*/
/*Create the container for the map and the individual result cards*/
.content-container {
	position: relative;
	margin: 0;
	width: 100%;
	height: 125vh;
}

/*General styling of child containers: left column contains interactive map, right column contains the results*/
.content-child {
	margin: 0 auto;
	float: left;
	width: 50%;
	max-width:50%;
	max-height: 100%;
	position: relative;
}

/*Styling for interactive map*/
#map.content-child{
	padding: 0 0.5vw 0 0;
	height:100%;
	max-width: 50%;
	z-index: 0;
}

/*Styling for results display grid*/
#results.content-child {
	padding: 0 0.5vw 0 0.5vw;
	--auto-grid-min-size: 48%;
	height:100%;
  
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
	grid-template-rows: repeat(auto-fill, minmax(auto, 1fr));
	grid-gap: 1vw;
  }

.content-grandchild {
	background-color: #e8e8e8c9;
	font-size:1.10vw;
	margin: 0;
	padding: 5px;
	display: grid;
	grid-template-rows: 0.5fr 0.5fr min-content min-content min-content 1fr min-content;
}

.content-child .next-button {
	grid-column-start: 1;
	grid-column-end: 3;
	text-align: center;
}

.content-child .next-button input{
	background-color: #222;
	color: white;
	padding: 0.25vh 0.25vw;
	border: none;
	cursor: pointer;
	text-decoration: underline;
}

/*Set the grid areas for result card image*/
.result-top-image-container {
	grid-row:1 / 3;
	background-image: url("../images/house.jpg");
	min-height: 15vh;
}

/*Styling for individual result's ranking*/
.result-ranking {
	grid-row: 3 / 4;
	background-color: #005c5c;
	color: white;
	padding: 1vh 0.25vw;
}

/*Styling for review stars*/
.result-stars{
	padding: 1vh 0.25vw 0.5vh 0.25vw;
	grid-row: 4 / 5;
}
.result-stars span{
	color: yellow;
}
.result-stars .text{
	color:inherit;
}

.bedsandbath {
	padding: 0.5vh 0.25vw 1vh 0.25vw;
	grid-row: 5 / 6;
}

/*Set the grid area and padding for the container of the result's description*/
.result-description {
	grid-row: 6 / 7;
	padding: 0 0.25vw;
	overflow: hidden;
    text-overflow: ellipsis;
    max-height: 20vh;
}

.result-description .address {
	font-weight: bold;
}

form {
	max-width: 100%;
}
/*Set the grid areas for the button navigating to the individual result page*/
.viewListing {
	grid-row: 7 / 8;
	padding: 1vh 0;
}
.check-button{
	text-align:center;
}
/*Center the button in the bottom quadrant of the card*/
.check-button input[type=submit]{
	font-size: inherit;
	background-color: rgb(0, 214, 170);
	color: white;
	padding: 0.5vh 0.5vw;
	border: none;
	cursor: pointer;
	height: 50%;
	width: 60%;
}

/*Hover behaviour for the button*/
input[type=submit]:hover{
	background-color: #005c5c;
}


/*Hover behaviour for the result cards and interactive map*/
.map-image:hover, .content-grandchild:hover{
	transform: scale(0.99);
	border-radius: 5px;
	box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 3px rgba(0, 0, 0, 0.048),
    0 8px 5px rgba(0, 0, 0, 0.06),
    0 12.3px 9px rgba(0, 0, 0, 0.072),
    0 12.8px 15px rgba(0, 0, 0, 0.086),
    0 50px 40px rgba(0, 0, 0, 0.12);
}

/*Styling for smaller screens*/
@media screen and (max-width: 800px) {
	/*Reduce height of main container for better aesthetic*/
	.content-container {
		height: 110vh;
		width: 100%;
	}
	/*Increase map and result card containers to full width of screen*/
	#map.content-child {
		min-width:100%;
		max-height: 35%;
		padding: 0.25vh 0.5vw 0.75vh 0.5vw;
		}

        .content-child{
		width: 100%;
		max-width: 100%;
	}

	#results.content-child {
		
		grid-template-rows: 1fr 1fr auto;
		margin-top: 0.5vh;
		max-height: 65%;
		grid-gap: 0.5vw;
	}

	.content-grandchild{
		font-size: 2vw;
		grid-template-rows: 1fr 1fr min-content 1 fr 1fr auto auto;
	}

	.address{
		font-size: 2.15vw; font-weight: bold; padding-bottom: 0.5vh;
	}

	.result-description {
		white-space: nowrap;
 		 overflow: hidden;
  		text-overflow: ellipsis;
	}

	input[type=submit]{
		font-size: 2.15vw;
		background-color: rgb(0, 214, 170);
		color: white;
		padding: 0.25vh 0.25vw;
		border: none;
		cursor: pointer;
		height: 70%;
		width: 70%;
	}
}
